<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marija.diplomski.places">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".PlacesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".keywords.views.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1AfHp4jDiJHpR5OVnjS59pip-b_HY9_U" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".placedetails.PlaceDetailsActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".placestreetview.PlaceStreetViewActivity" />
        <activity
            android:name=".addeditplace.views.AddEditPlaceActivity"
            android:theme="@style/DialogWhenLargeStyle" />
        <activity
            android:name=".addselectfolders.AddSelectFolderActivity"
            android:theme="@style/AppCompatAlertDialogStyle" />
        <activity
            android:name=".folders.FoldersActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".settings.PreferenceActivity"
            android:theme="@style/DialogWhenLargeStyle" />
    </application>

</manifest>